@import "./mixins";

html {
    scroll-behavior: smooth;
}

body {
    color: $text;
    background: $background;
}

.bg-primary {
    background-color: $background;
}

.bg-primary-700 {
    background-color: $background-700;
}

.bg-primary-800 {
    background-color: $background-800;
}

.even-section {
    background: linear-gradient(180deg, $background 0%, $background 20%, $background-800 100%);
}

.odd-section {
    background: linear-gradient(180deg, $background-800 0%, $background-800 20%, $background 100%);
}

.text-primary {
    color: $primary;
}

.main-shadow {
    @include main-shadow(rgba(255, 255, 255, 1), $primary);
}

.main-shadow-faded {
    @include main-shadow(rgba(255, 255, 255, 0.7), $primary-200);
}

.main-shadow-light {
    @include main-shadow(rgba(255, 255, 255, 0.25), $primary-200);
}

section {
    min-height: calc(80vh - 150px);
    padding-top: 150px;

    &#home {
        min-height: 60vh;
    }

    @media screen and (max-width: 900px) {
        min-height: calc(80vh - 80px);
        padding-top: 80px;
    }
}

.btn {
    @apply py-4 px-6 text-white transition ease-in duration-300 text-center rounded-full cursor-pointer overflow-hidden relative;
    @include main-shadow(rgba(255, 255, 255, 1), $primary);

    &.btn-xl {
        @apply py-6 px-8 text-3xl;
    }

    span {
        @apply ease-in duration-300;
        z-index: 1;
        position: inherit;
    }

    &::before {
        content: "";
        background: linear-gradient(180deg, $primary, $primary-800);
        @apply absolute top-24 left-0 w-full h-full z-0 ease-in duration-300 scale-50 rounded-3xl;
    }

    &:hover {
        @apply scale-110;

        span {
            color: $background;
        }

        &::before {
            @apply top-0 scale-100;
        }
    }
}

.scale-transition {
    @apply duration-300 transition-transform ease-in hover:scale-110;
}

*::-webkit-scrollbar {
    width: 8px
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent
}

*::-webkit-scrollbar-track:active {
    background-color: transparent
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #0aff9a
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #85ffcd
}

*::-webkit-scrollbar-thumb:active {
    background-color: #85ffcd
}