<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between lg:flex-row">
        <div class="mb-10 lg:max-w-lg lg:pr-5 lg:mb-0">
            <div class="max-w-xl mb-6">
                <h1 class="text-6xl sm:text-7xl text-primary">
                    GET PAID TO TEST NEW GAMES.
                </h1>
                <p class="text-2xl text-gray-100 my-4">
                    Test, play, and earn exclusive rewards
                </p>
                <div class="flex">
                    <a href="https://www.myfreeapp.io/" class="btn btn-xl titan-font mt-6">
                        <span>START NOW</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="relative lg:w-1/2">
            <img src="assets/images/home.png" alt="welcome" style="background: radial-gradient(circle, #0aff9a52 0%, transparent 50%, transparent 100%);">
        </div>
    </div>
</div>
