<header 
    class="bg-primary py-3 px-1 sm:py-6 sm:px-4 fixed top-0 left-0 w-full flex items-center justify-around z-10 duration-500 ease-out"
    #header
>
    <a href="#home" id="logo" class="scale-transition">
        <img src="assets/images/logo.svg" alt="logo">
    </a>
    
    <nav class="flex items-center text-base justify-center gap-2 sm:gap-8 main-shadow-faded py-0 px-2 sm:py-2 sm:px-6 rounded-3xl font-bold">
        <a href="#home" id="logo-mobile" class="flex justify-center"><img src="assets/images/logo-mobile.png" alt="logo mobile" width="40" height="40"></a>
        <a href="#earnNow">Earn now</a>
        <a href="#howItWorks">How it work</a>
        <a href="#faq">Faq</a>
    </nav>
</header>
