@import "../../styles/variables";

nav {

    a {
        @apply p-2 ease-in duration-300 select-none cursor-pointer rounded-xl min-w-[100px] text-center;

        &:not(#logo-mobile) {
            &:hover {
                background: $primary-200;
                color: $background;
                box-shadow: inset 0px 0px 3px 1px $background;
            }

            &:active {
                background: $primary-400;
                box-shadow: inset 0px 0px 5px 2px $background;
            }

            &.active {
                background: $primary;
                color: $background;
            }
        }

    }
}

#logo.active {
    transform: scale(1.35);
}


#logo-mobile {
    display: none;
    min-width: auto;

    &.active {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 900px) {
    #logo {
        display: none;
    }

    #logo-mobile {
        display: flex;
    }

    nav a:not(#logo-mobile) {
        @apply min-w-[75px] p-1 text-sm;

    }
}