<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="text-primary max-w-lg mb-6 text-5xl leading-none tracking-tight sm:text-6xl md:mx-auto">
            MOST VALUABLE OFFERS
        </h2>
        <p class="text-base opacity-70 md:text-lg">
            Check how much you can earn from a single game via our service
        </p>
    </div>
    <div class="grid max-w-md gap-8 row-gap-10 sm:mx-auto lg:max-w-full lg:grid-cols-3">
        <app-offert
            src="https://www.myfreeapp.io/assets/images/game-icons/ToonBlast.png"
            alt="toonBlast"
            title="TOON BLAST"
            value="120"
        ></app-offert>
        <app-offert
            src="https://www.myfreeapp.io/assets/images/game-icons/MonopolyGo.png"
            alt="MonopolyGo"
            title="MONOPOLY GO"
            value="80"
        ></app-offert>
        <app-offert
            src="https://www.myfreeapp.io/assets/images/game-icons/coinMaster.png"
            alt="coinMaster"
            title="COIN MASTER"
            value="100"
        ></app-offert>
    </div>
</div>
